/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.heading {
  font-family: 'Bree serif';
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}
.search-container {
  display: flex;
  border: 1px solid #7b8794;
  padding: 3px;
  justify-content: space-between;
  width: 250px;
}

.search-box {
  border: none;
  background-color: transparent;
  outline: none;
  color: #1e293b;
  width: 245px;
}

.search-icon {
  width: 25px;
  height: 25px;
}

.tab-item-container {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  gap: 15px;
  margin-bottom: 0px;
}

.line {
  width: 300px;
  margin-top: 0px;
  color: #dfe2e5;
}

.app-container {
  display: flex;
  list-style-type: none;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  padding-left: 10px;
}
